<div class="wrapperPokedex">
    <div class="pokedex">
        <div class="pokedexBase">
            <div class="pokedexHead">
                <div class="pokedexHeadCol1">
                    <div class="circle"></div>
                </div>
                <div class="pokedexHeadCol2">
                    <div class="bar"></div>
                    <div class="diag"></div>
                    <div class="circle red" [ngClass]="{'playAnimation': this.hasAnimationPlayed}"></div>
                    <div class="circle yel" [ngClass]="{'playAnimation': this.hasAnimationPlayed}"></div>
                    <div class="circle gre" [ngClass]="{'playAnimation': this.hasAnimationPlayed}"></div>
                </div>
            </div>
            <div class="pokedexScreen">
                <div class="pokedexScreenDisplay bgScreen">
                    <div class="pokemonList" [ngSwitch]="this.getCurrentLeftScreenStates">

                        <ng-container *ngSwitchCase="this.getScreenStates.POKEDEX_LIST">
                            <div *ngFor="let v of this.getPokedexList; index as i"
                                [ngClass]="{'current': i >= this.getCurrentStartIndex && this.getCurrentSelectorIndex == i}">
                                <ng-container *ngIf="i >= this.getCurrentStartIndex">
                                    <img class="pokeball" src="./assets/img/pokedex.png" alt="" width="14px" height="14px">
                                    <p class="name">{{ v.localName }}</p>
                                    <p style="margin-left:auto">{{ v.id }}</p>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="this.getScreenStates.POKEDEX">
                            <div *ngFor="let v of this.getPokemonData; index as i" [ngClass]="{'current': this.getCurrentSelectorIndex == i}">
                                <img class="pokeball" src="./assets/img/pokeball.png" alt="" width="14px" height="14px">
                                <p class="name">{{ v.name }}</p>
                                <p style="margin-left:auto">n°{{v.id}}</p>
                            </div>
                        </ng-container>

                    </div>
                </div>
                <div class="diag"></div>
            </div>
            <div class="pokedexPad">
                <div class="pokedexPadtBodyLeft">
                    <div class="pokedexPadtHead">
                        <div class="btnCircle pointer" title="this button has no action available (unused)" (click)="this.onClickNoAction()"></div>
                        <div class="btnOval red pointer" title="this button has no action available (unused)" (click)="this.onClickNoAction()"></div>
                        <div class="btnOval blue pointer" title="this button has no action available (unused)" (click)="this.onClickNoAction()"></div>
                    </div>
                    <div class="pokedexPadtBodyScreenDisplay bgScreen"> 
                        <img [src]=" this.getCurrentPokemonData !== null ? this.getNextSprite : './assets/img/pokemon.png' " alt="">
                    </div>
                </div>
                <div class="pokedexPadtBodyRight">
                    <div class="pokedexPadtBodybtnCross">
                        <div (click)="onClickBtnLeftCross('top')" class="top pointer" title="action: previous"></div>
                        <div (click)="onClickBtnLeftCross('bot')" class="bot pointer" title="action: next"></div>
                        <div (click)="onClickBtnLeftCross('left')" class="left pointer" title="action: back"></div>
                        <div (click)="onClickBtnLeftCross('right')" class="right pointer" title="action: show"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokedexBase right">
            <div class="pokedexHead">
                <div class="pokedexHeadCol1"></div>
                <div class="pokedexHeadCol2">
                    <div class="bar"></div>
                    <div class="diag"></div>
                </div>
            </div>
            <div class="pokedexScreen">
                <div class="pokedexRightScreenDisplay bgScreen">
                    <div class="content" [ngSwitch]="this.getCurrentRightScreenStates">

                        <ng-container *ngSwitchCase="this.getScreenStates.INFO">
                            <ng-container *ngIf="this.getCurrentPokemonData !== null"> 
                                <p><span class="bold">Height</span>: {{ this.getCurrentPokemonData.height }} dm</p>
                                <p><span class="bold">Weight</span>: {{ this.getCurrentPokemonData.weight }} hg</p>
                                <p><span class="bold">Types</span>: {{ this.getCurrentPokemonData.typesParsed}}</p>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngSwitchCase="this.getScreenStates.LOCATION">
                            {{ this.getPokemonLocation }}
                        </ng-container>

                        <ng-container *ngSwitchCase="this.getScreenStates.LOOT">
                            loadding data...
                        </ng-container>

                        <ng-container *ngSwitchCase="this.getScreenStates.POKEDEX_LIST">
                            <p><span class="bold">Name</span>: {{ this.getPokedex.localName }}</p>
                            <p><span class="bold">Total Pokemon</span>: {{ this.getPokedex.pokemon_entries.length }}</p>
                            <p><span class="bold">Description</span>: {{ this.getPokedex.localDescription }}</p>
                        </ng-container>

                        <ng-container *ngSwitchDefault>loadding data...</ng-container>
                    </div>
                </div>
                <div class="pokedexScreenKeyboard">
                    <div (click)="this.onClickBtnRight(this.getScreenStates.INFO)" class="key pointer" title="no action available (unused)">
                        <i class="material-symbols-outlined noFill medium">format_list_bulleted</i>
                    </div>
                    <div (click)="this.onClickBtnRight(this.getScreenStates.LOOT)" class="key pointer" title="no action available (unused)">
                        <i class="material-symbols-outlined noFill medium">package</i>
                    </div>
                    <div (click)="this.onClickBtnRight(this.getScreenStates.LOCATION)" class="key pointer" title="no action available (unused)">
                        <i class="material-symbols-outlined noFill medium">map</i>
                    </div>
                    <div (click)="this.onClickBtnRight(this.getScreenStates.SPELL)" class="key pointer" title="no action available (unused)">
                        <i class="material-symbols-outlined noFill medium">bolt</i>
                    </div>
                    <div (click)="this.onClickBtnRight(this.getScreenStates.INFO)" class="key pointer" title="no action available (unused)">
                        <i class="material-symbols-outlined noFill medium">help_center</i>
                    </div>
                </div>
                <div class="pokedexRightScreenDisplay bgScreen">
                    <div class="content">
                        <p> ❓ Directional / Cross button</p>
                        <p>- <span class="bold">top</span>: select previous pokemon</p>
                        <p>- <span class="bold">bot</span>: select next pokemon</p>
                        <p>- <span class="bold">left</span>: show previous sprite pokemon</p>
                        <p>- <span class="bold">right</span>: show next sprite pokemon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>