.wrapperPokedex {
    --main-bg: var(--color-background-soft);
    padding: 20px;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    background: var(--main-bg);
    user-select: none;

    .pokedex {
        --border-radius: 25px;
        --left-head-height: 100px;
        width: 665px;
        height: 500px;
        background: var(--main-bg);
        color: black;
        text-shadow: 0 0 1.5px white;

        .pokedexBase {
            float: left;
            width: 50%;
            height: 100%;
            background: rgb(255 79 79);
            border-radius: var(--border-radius);
            box-shadow: 0 3px 0 0 rgb(249, 63, 63), 0 6px 0 0 rgb(177 52 62);

            .pokedexHead {
                --head-border-width: 4px;
                display: flex;
                width: 100%;
                height: var(--left-head-height);

                .pokedexHeadCol1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    height: 100%;
                    background-color: rgb(249, 63, 63);
                    border-top-left-radius: var(--border-radius);
                    border-bottom: var(--head-border-width) solid rgb(144, 42, 40);

                    .circle {
                        background: rgb(97 157 219);
                        background: radial-gradient(circle, rgba(97, 157, 219, 1) 0%, rgb(97 157 219) 100%);
                        box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.744), 0 0 2px 1px rgba(0, 0, 0, 0.744);
                        border: 2px solid rgb(243 236 247);
                        border-radius: 100%;
                        width: calc(var(--left-head-height)/2);
                        height: calc(var(--left-head-height)/2);
                    }
                }

                .pokedexHeadCol2 {
                    overflow: hidden;
                    position: relative;
                    width: 80%;
                    height: 100%;
                    display: flex;
                    border-top-right-radius: var(--border-radius);

                    .bar {
                        display: flex;
                        position: absolute;
                        right: 0;
                        z-index: 1;
                        background-color: rgb(249, 63, 63);
                        width: 71.7%;
                        height: 50%;
                        border-bottom: var(--head-border-width) solid rgb(182 54 51);

                    }

                    .diag {
                        position: absolute;
                        left: 0;
                        top: -188.5px;
                        background-color: rgb(249, 63, 63);
                        width: 100%;
                        height: 200px;
                        transform: skewY(-35deg);
                        border-bottom: var(--head-border-width) solid rgb(182 54 51);
                        outline: 1px solid rgb(182 54 51);
                    }

                    .circle {
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        margin: 10px 2px;
                        z-index: 5;
                        box-shadow: inset 0 0 5px 1px rgba(81, 81, 81, 0.496), 0 0 2px 1px rgba(0, 0, 0, 0.468);

                        &.red {
                            background: rgb(248, 58, 77);
                            background: radial-gradient(circle, rgb(248, 58, 77) 0%, rgb(248, 58, 77) 10%);

                            &.playAnimation {
                                animation: circleAnimeRed .2s infinite linear;
                            }
                        }

                        &.yel {
                            background: rgb(184, 190, 23);
                            background: radial-gradient(circle, rgb(184, 190, 23) 0%, rgb(186, 191, 35) 10%);

                            &.playAnimation {
                                animation: circleAnimeYel .3s infinite linear;
                            }
                        }

                        &.gre {
                            background: rgb(91 194 117);
                            background: radial-gradient(circle, rgb(91 194 117) 0%, rgb(91 194 117) 10%);

                            &.playAnimation {
                                animation: circleAnimeGre .4s infinite linear;
                            }
                        }


                        @keyframes circleAnimeRed {
                            100% {
                                background: radial-gradient(circle, rgb(255, 87, 104) 0%, rgb(255, 70, 89) 100%);
                            }
                        }

                        @keyframes circleAnimeYel {
                            100% {
                                background: radial-gradient(circle, rgb(245, 255, 0) 0%, rgb(247, 251, 131) 100%);
                            }
                        }

                        @keyframes circleAnimeGre {
                            100% {
                                background: radial-gradient(circle, rgb(111, 255, 147) 0%, rgb(129, 255, 160) 100%);
                            }
                        }
                    }
                }
            }

            .pokedexScreen {
                position: relative;
                width: 80%;
                height: 45%;
                margin: 15px auto 0 auto;
                overflow: hidden;
                border-radius: 5px;

                .pokedexScreenDisplay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    height: 80%;
                    z-index: 2;
                    background: rgb(107 166 110);
                    background-image: linear-gradient(rgba(93, 147, 96, 0.5) .05em, transparent .05em);
                    background-size: 100% 0.8em;
                    box-shadow: inset 0px 0 2px 1.2px black;
                    border-radius: 5px;
                }

                .diag {
                    position: absolute;
                    bottom: -250px;
                    left: 0;
                    background-color: rgb(2255 255 255);
                    width: 200%;
                    height: 300%;
                    transform: skewY(45deg);
                }
            }

            .pokedexPad {
                display: flex;
                flex-wrap: wrap;
                width: 90%;
                margin: 5px auto;
                height: 140px;

                .pokedexPadtHead {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    height: 80%;

                    .btnCircle {
                        cursor: pointer;
                        background: rgb(80 80 81);
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                        box-shadow: 0px .5px 0 .5px black, 0 0 4px 0 black;
                        transition: box-shadow 0.1s;

                        &:active {
                            margin-top: 1px;
                            box-shadow: unset;
                        }
                    }

                    .btnOval {
                        cursor: pointer;
                        border-radius: 10px;
                        margin: 7px;
                        width: 40px;
                        height: 15px;
                        box-shadow: 0px .8px 0 .8px black, 0 0 4px 0 black;
                        transition: box-shadow 0.1s;

                        &:active {
                            margin-top: 9px;
                            box-shadow: unset;
                        }

                        &.red {
                            background: rgb(177 52 62);
                        }

                        &.blue {
                            background: rgb(96 157 214);
                        }
                    }
                }

                .pokedexPadtBodyLeft {
                    display: flex;
                    flex-wrap: wrap;
                    width: 70%;
                    height: 50%;

                    .pokedexPadtBodyScreenDisplay {
                        background: rgb(107 166 110);
                        background-image: linear-gradient(rgba(93, 147, 96, 0.5) .05em, transparent .05em);
                        background-size: 100% 0.8em;
                        box-shadow: inset 0px 0 2px 1.2px black;
                        border-radius: 5px;
                        width: 118px;
                        height: 80px;
                        margin: 0 auto;
                        text-align: center;

                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }

                .pokedexPadtBodyRight {
                    width: 30%;
                    margin-top: 20px;
                    position: relative;

                    .pokedexPadtBodybtnCross {
                        --cross-width: 80px;
                        position: relative;
                        width: var(--cross-width);
                        height: var(--cross-width);
                        position: absolute;
                        margin: 10px 0 0 -18px;

                        .top,
                        .bot,
                        .left,
                        .right {
                            cursor: pointer;
                            position: absolute;
                            background-color: rgb(80 80 81);
                            border-radius: 4px;
                            box-shadow: 0px .8px 0 .8px black, 0 0 4px 0 black;
                        }

                        .top,
                        .bot {
                            --btn-cross-height: calc(var(--cross-width) / 3.5);
                            width: var(--btn-cross-height);
                            height: calc(var(--btn-cross-height) * 1.35);

                            &:active {
                                margin-top: 2px;
                                box-shadow: unset;
                            }
                        }

                        .left,
                        .right {
                            --btn-cross-height: calc(var(--cross-width) / 3.5);
                            height: var(--btn-cross-height);
                            width: calc(var(--btn-cross-height) * 1.35);

                            &:active {
                                margin-top: 4px;
                                box-shadow: unset;
                            }
                        }

                        .top {
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                            margin-top: -2px
                        }

                        .bot {
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                            margin-bottom: -2px;
                        }

                        .right {
                            bottom: 50%;
                            right: 0;
                            transform: translate(0, 50%);
                            margin-right: -1.5px;
                        }

                        .left {
                            bottom: 50%;
                            left: 0;
                            transform: translate(0, 50%);
                            margin-left: -1.5px;
                        }
                    }
                }
            }

            &.right {
                transform: rotateY(180deg);

                .pokedexHeadCol1,
                .pokedexHeadCol2 {
                    border-top-right-radius: 0 !important;
                    border-top-left-radius: 0 !important;
                }

                .pokedexHeadCol1,
                .pokedexHeadCol2 .bar,
                .pokedexHeadCol2 .diag {
                    background: var(--main-bg) !important;
                    border-bottom: unset !important;
                    outline: unset !important;
                }

                .pokedexScreen {
                    background: unset !important;
                    transform: rotateY(180deg);

                    .pokedexRightScreenDisplay {
                        height: 41%;
                        width: 100%;
                        background: rgb(107 166 110);
                        background-image: linear-gradient(rgba(93, 147, 96, 0.5) .05em, transparent .05em);
                        background-size: 100% 0.8em;
                        box-shadow: inset 0px 0 2px 1.2px black;
                        border-radius: 5px;
                        margin: 10px 0;

                        .content {
                            padding: 8px 0 0 12px;
                            line-height: 19px;
                        }
                    }

                    .pokedexScreenKeyboard {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 15px;

                        .key {
                            cursor: pointer;
                            margin: 2px;
                            width: 49px;
                            height: 49px;
                            background-color: rgb(79, 173, 255);
                            box-shadow: 0px 1.3px 0 1px black, 0 0 3px 0 black;
                            border-radius: 5px;
                            transition: box-shadow 0.1s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            &:active {
                                margin-top: 3px;
                                margin-bottom: -3px;
                                box-shadow: unset;
                            } 
                        }
                    }
                }

                .pokedexRightPad {
                    position: relative;
                    transform: rotateY(180deg);
                    width: 80%;
                    height: 120px;
                    margin: 15px auto;
                    overflow: hidden;
                    border-radius: 5px;
                    background: rgb(107 166 110);
                    background-image: linear-gradient(rgba(93, 147, 96, 0.5) .05em, transparent .05em);
                    background-size: 100% 0.8em;
                    box-shadow: inset 0px 0 2px 1.2px black;
                    padding: 6px 0 0 8px;
                    line-height: 22px;
                }
            }
        }

        .pokemonList {
            padding: 5px 4px;
            overflow-y: hidden;
            max-height: 100%;

            div {
                display: flex;
                width: 100%;
                align-items: center;

                .pokeball {
                    margin: 0 7px 0 1px;
                    opacity: 0.5;
                }

                &::before,
                &::after {
                    color: rgb(112, 222, 117);
                    text-shadow: 0 0 1.5px rgb(93, 147, 96);
                    font-weight: bold;
                    opacity: 0;
                    line-height: 0px;
                    margin: 0 4px;
                }

                &.current {
                    color: rgb(112, 222, 117);
                    text-shadow: 0 0 1.5px rgb(93, 147, 96);

                    &::before,
                    &::after {
                        opacity: 1;
                    }
                }


                &::before {
                    content: "\0002c3"
                }

                &::after {
                    content: "\0002c2"
                }
            }

            p {
                line-height: 19px;

                &.name::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}